version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: docker/php5/Dockerfile.local
    ports:
      - 8009:80
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    networks:
      - app-network
    env_file:
      - ./.env.prod
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - DB_HOST=db
      - XDEBUG_CONFIG="remote_host=host.docker.internal"
      - PHP_IDE_CONFIG="serverName=DockerServer"

  db:
    image: mysql:5.7
    volumes:
      - ../internet_programming_db:/var/lib/mysql
      # - ../mysql_uk_data_2:/var/lib/mysql
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    networks:
      app-network:
        aliases:
          - db
    env_file:
      - ./.env.prod
    ports:
      - 3306:3306

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge