version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: docker/php5/Dockerfile.prod
    ports:
      - 8009:80
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    networks:
      - app-network
    env_file:
      - ./.env.prod
    environment:
      - DB_HOST=db
    restart: unless-stopped

  db:
    image: mysql:5.7
    volumes:
      - internet_programming_db:/var/lib/mysql
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    networks:
      - app-network
    env_file:
      - ./.env.prod
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    # ports:
    #   - 3306:3306

volumes:
  mysql_data:
    driver: local

networks:
  app-network:
    driver: bridge